<div class="d-inline-flex flex-row align-items-center">
  <i class="fa-solid fa-microphone"></i>
</div>

<div class="d-inline-flex flex-row align-items-center">
  <i class="fa-solid fa-plus"></i>

  <progressbar [max]="100" [value]="50"></progressbar>
</div>

<div class="d-inline-flex flex-row align-items-center">
  <i class="fa-solid fa-droplet"></i>

  <progressbar [max]="100" [value]="50"></progressbar>
</div>

<div class="d-inline-flex flex-row align-items-center">
  <i class="fas fa-utensils"></i>

  <progressbar [max]="100" [value]="50"></progressbar>
</div>


<div class="d-inline-flex flex-row align-items-center">
  <i class="fa-solid fa-shield"></i>

  <progressbar [max]="100" [value]="50"></progressbar>
</div>

<div class="d-inline-flex flex-row align-items-center justify-content-between">
  <div class="d-inline-flex flex-row align-items- me-4">
    <i class="fas fa-wallet me-2"></i>

    <span>$1337</span>
  </div>

  <div class="d-inline-flex flex-row align-items-center">
    <i class="fas fa-dollar-sign me-2 pe-1"></i>

    <span>$1337</span>
  </div>
</div>
