$body-bg: transparent;

// Phone
$phone-x: 17rem;
$phone-y: 33.25rem;
$phone-radius: 14px;
$phone-shadow: 0 19px 38px rgba(0 0 0 / 31%), 0 15px 12px rgba(0 0 0 / 22%);
$phone-bottom: 0.5rem;
$phone-padding: 0.5rem 1.4rem 0.75rem 1rem;
$phone-z-index: 20;
