<div class="row mt-3">
  <div class="col-3">
    <div class="app-container flex-shrink-1">
      <div class="app app-settings"></div>
      <span class="app-name flex-shrink-1">Einstellungen</span>
    </div>
  </div>

  <div class="col-3">
    <div class="app app-camera">
      <span class="app-name">Kamera</span>
    </div>
  </div>

  <div class="col-3">
    <div class="app app-bank">
      <span class="app-name">Bank</span>
    </div>
  </div>

  <div class="col-3">
    <div class="app app-calculator">
      <span class="app-name">Rechner</span>
    </div>
  </div>
</div>
